<h1 class="text-3xl">Pokemon list</h1>
<h2 class="text-xl">Current page {{ page() }}</h2>

<hr class="my-2">

<app-pokemon-list [isLoading]="isLoading()" [pokemons]="pokemons()"></app-pokemon-list>

<div class="flex justify-between">

  <a
    class="px-4 py-2 mt-2 rounded-md bg-blue-500 hover:bg-blue-600 transition-colors"
    [class.disabled]="page() === 1"
    [ariaDisabled]="page() === 1"
    [routerLink]="['/pokemons/page', page() - 1]"
  >Prev</a>
  <a
    class="px-4 py-2 mt-2 rounded-md bg-blue-500 hover:bg-blue-600 transition-colors"
    [routerLink]="['/pokemons/page', page() + 1]"
  >Next</a>
</div>